

.form-cadastro{
    background-color:linear-gradient(rgba(2,0,36,0.9),rgba(2,0,36,0.9) );
    width: 400px;
    border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 12px;
color: white;
}

.form-cadastro p{
    text-align: center;
}

.form-cadastro .cadastro .label-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
}
.label-input input{
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(177, 177, 180, 0.17);
    color: white;
}
.label-input select{
    padding: 12px;
border: none;
border-radius: 8px;
font-size: 16px;
background: rgba(177, 177, 180, 0.17);;
color: gray;
}



.send{
    border: none;
    padding: 12px 15px;
    color:white;
    background-color: rgb(210, 96, 96);

}
.form-cadastro a{
    text-decoration: none;
    color: white;
}

.glass{
    background: rgba( 255, 255, 255, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}